<!doctype html>
<html>
  <head>
    <title>SpotRecs</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="view.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
      <div id="login">
        <h1>SpotRecs: Recommendations with Spotify</h1> <br>
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
      </div>
      <div id="loggedinSearch">
        <div id="search">
          <h1> Enter songs to search </h1>
          <br>
          Song 1:<br>
          <input type="text" id="song1" size = 35>
          <br>
          Song 2:<br>
          <input type="text" id="song2" size = 35>
          <br>
          Song 3:<br>
          <input type="text" id="song3" size = 35>
          <br>
        </div>
        <br>
        <button class="btn btn-default" id="submit">Submit</button>
        <button class="btn btn-default" id="addRow">Add Song</button>
        <br>
        <div id="searching">
          <h3>
            Searching For Recommendations...
          </h3>
        </div>
        <div id="results">
        </div>
        <div id="user-profile">
        </div>
        <div id="song-data">
        </div>
        <div id="container" style="min-width: 500px; max-width: 800px; height: 400px; margin: 0 auto">
        </div>
      </div>
    </div>

    <script id ="data-template" type ="text/x-handlebars-template">
      <table id="datatable">
        <thead>
            <tr>
                <th></th>
                <th>{{song1}}</th>
                <th>{{song2}}</th>
                <th>{{song3}}</th>
                <th>{{song4}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Danceability</th>
                <td>{{song1D}}</td>
                <td>{{song2D}}</td>
                <td>{{song3D}}</td>
                <td>{{song4D}}</td>
            </tr>
            <tr>
                <th>Energy</th>
                <td>{{song1E}}</td>
                <td>{{song2E}}</td>
                <td>{{song3E}}</td>
                <td>{{song4E}}</td>
            </tr>
            <tr>
                <th>Acousticness</th>
                <td>{{song1A}}</td>
                <td>{{song2A}}</td>
                <td>{{song3A}}</td>
                <td>{{song4A}}</td>
            </tr>
            <tr>
                <th>Instrumentalness</th>
                <td>{{song1I}}</td>
                <td>{{song2I}}</td>
                <td>{{song3I}}</td>
                <td>{{song4I}}</td>
            </tr>
            <tr>
                <th>Liveness</th>
                <td>{{song1I}}</td>
                <td>{{song2I}}</td>
                <td>{{song3I}}</td>
                <td>{{song4I}}</td>
            </tr>
            <tr>
                <th>Valence</th>
                <td>{{song1V}}</td>
                <td>{{song2V}}</td>
                <td>{{song3V}}</td>
                <td>{{song4V}}</td>
            </tr>
            <tr>
                <th>Tempo</th>
                <td>{{song1T}}</td>
                <td>{{song2T}}</td>
                <td>{{song3T}}</td>
                <td>{{song4T}}</td>
            </tr>
        </tbody>
      </table>
    </script>

    <script id="results-template" type="text/x-handlebars-template">
      <h1> Recommended Songs </h1>
      <table class="table">
        <thread>
          <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Preview</th>
          </tr>
        </thread>
        <tbody>
        <tr>
          <td>{{song1}}</td>
          <td>{{song1Artist}} </td>
          <td><audio src = {{song1Link}} controls ></audio></td>
        </tr>
        <tr>
          <td>{{song2}}</td>
          <td>{{song2Artist}} </td>
          <td><audio src = {{song2Link}} controls ></audio></td>
        </tr>
        <tr>
          <td>{{song3}}</td>
          <td>{{song3Artist}} </td>
          <td><audio src = {{song3Link}} controls ></audio></td>
        </tr>
        <tr>
          <td>{{song4}}</td>
          <td>{{song4Artist}} </td>
          <td><audio src = {{song4Link}} controls ></audio></td>
        </tr>
      </div>
    </script>

    <script id="user-profile-template" type="text/x-handlebars-template">
      <h1>Logged in as {{display_name}}</h1>
      <div class="media">
        <div class="pull-left">
          <img class="media-object" width="150" src="{{images.0.url}}" />
        </div>
        <div class="media-body">
          <dl class="dl-horizontal">
            <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>
            <dt>Id</dt><dd>{{id}}</dd>
            <dt>Email</dt><dd>{{email}}</dd>
            <dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
            <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
            <dt>Profile Image</dt><dd class="clearfix"><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
            <dt>Country</dt><dd>{{country}}</dd>
          </dl>
        </div>
      </div>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="view.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="chart.js"></script>
  </body>
</html>

