<!doctype html>
<html>
  <head>
    <title>SpotRecs</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="view.css">

  <body>
    <div class="container">
      <div id="login">
        <h1>SpotRecs: Recommendations with Spotify</h1>
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
      </div>
      <div id="loggedinSearch">
        <div id="search">
          <h1> Enter songs to search </h1>
          <br>
          Song 1:<br>
          <input type="text" id="song1">
          <br>
          Song 2:<br>
          <input type="text" id="song2">
          <br>
          Song 3:<br>
          <input type="text" id="song3">
          <br>
        </div>
        <br>
        <button class="btn btn-default" id="submit">Submit</button>
        <button class="btn btn-default" id="addRow">Add Row</button> <br>
        <div id="results">
        </div>
        <div id="user-profile">
        </div>
        <div id="oauth">
        </div>
<!--         <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button>-->
      </div>
    </div>

    <script id="user-profile-template" type="text/x-handlebars-template">
      <h1>Logged in as {{display_name}}</h1>
      <div class="media">
        <div class="pull-left">
          <img class="media-object" width="150" src="{{images.0.url}}" />
        </div>
        <div class="media-body">
          <dl class="dl-horizontal">
            <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>
            <dt>Id</dt><dd>{{id}}</dd>
            <dt>Email</dt><dd>{{email}}</dd>
            <dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
            <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
            <dt>Profile Image</dt><dd class="clearfix"><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
            <dt>Country</dt><dd>{{country}}</dd>
          </dl>
        </div>
      </div>
    </script>

    <script id="oauth-template" type="text/x-handlebars-template">
      <h2>oAuth info</h2>
      <dl class="dl-horizontal">
        <dt>Access token</dt><dd class="text-overflow">{{access_token}}</dd>
        <dt>Refresh token</dt><dd class="text-overflow">{{refresh_token}}></dd>
      </dl>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="view.js"></script>
  </body>
</html>

