#login, #loggedinSearch
{
    display: none;
}

#loggedinSearch
{
    font-size: 15px;
}

#link
{
    position: absolute;
    top: 20px;
    right: 30px;
}

.text-overflow
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
.center {
    text-align: center;
}

.loader {
  position: relative;
  left: 45%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.half {
    width: 50%;
}

#analysisButton {
    margin-bottom: 10px;
}

#resultsButton {
    margin-bottom: 10px;
}
