#login, #loggedinSearch
{
    display: none;
}

#loggedinSearch
{
    font-size: 15px;
}

#link
{
    position: absolute;
    top: 20px;
    right: 30px;
}

.text-overflow
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
